/* .box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  background-color: #ffffff; 
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  /* height: 200px; 
  max-height: 35vh;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
} */

.box {
  margin: 10px auto;
}

.modal {
  margin: 30px auto;
}

body {
  background-color: #f8cd46;
  margin: 0 auto;
}

.goalTitle {
  text-align: center;
  background-color: green;
  color: white;
  padding: 1rem;
  margin: 0;
}

.button {
  position: absolute;
}

.box > img {
  position: relative;
  width: 100%;
  height: 20vw;
  object-fit: cover;
}

.popupimg {
  width: 20vw;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: #f8cd46; */
}

.grid > div {
  flex-basis: calc(25% - 40px);
}

.popup-content > {
  background: green;
  border: 5px red;
}

/* .modal-content {
  display: flex; 
}

.popup-overlay {
} */

/* .boxy {
  width: 300px;
  background: green;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
.boxy:hover {
  animation: boxyRotation 4s infinite linear;
}

@keyframes boxyRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.black-background {
  background-color: red !important;
  font-size: 5vh;
  border-radius: 10px 10px 10px 10px;
} */

/* html {
  background-color: green;
} */
