.box {
  margin: 1rem auto;
  color: blue;
  background-color: #305a53;
  min-height: 25vw;
}

/* .modal {
  margin: 30px auto;
} */
.sidetext {
  /* background-color: blue; */
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modaltext {
  margin-left: 1rem;
  padding: 1rem;
}

.quizBtn {
  border: none;
  color: white;
  padding: 1rem;
  background-color: #305a53;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.buttonContainer {
  width: 100vw;
  display: flex;
}

.quizBtn:hover {
  transform: scale(1.01);
  color: #f8cd46;
}

.quizBtnMain {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

body {
  background-color: #f8cd46;
  margin: 0 auto;
}

.goalTitle {
  text-align: center;
  background-color: #305a53;
  color: white;
  padding: 1rem;
  margin: 0 auto;
}

.button {
  position: absolute;
  border: none;
  background-color: transparent;
  color: white;
  bottom: 0.5rem;
  padding-top: 3rem;
  /* left: 50%; */
  /* bottom: 50%; */
  text-align: center;
  /* transform: translateX(-50%); */
  width: 100%;
  object-fit: scale-down;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.button:hover {
  transform: scale(1.01);
}

.box > img {
  position: relative;
  width: 100%;
  max-height: 20vw;
  margin: 1.5rem auto;
  /* margin: 1.5rem; */
  object-fit: scale-down;
}

/* .box > div {
  display: flex;
} */

.popupimg {
  width: auto;
  padding: 1rem;
  max-height: 30vh;
  margin: 1rem auto;
  align-items: center;
  object-fit: scale-down;
  /* max-height: 10vh; */
}

.smallcaption {
  font-size: 0.7em;
  text-align: center;
  font-style: italic;
  padding: 1rem;
}

.grid {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: #f8cd46; */
}

.grid > div {
  flex-basis: calc(50% - 40px);
}

.popup-content {
  margin: auto;
  background: blue;
  width: 50%;
  padding: 20px;
  border: 1px solid #d7d7d7;
}
[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.modalcontent {
  display: flex;
}

.imgcontent {
  background-color: #f8cd46;
  border-radius: 5px;
  height: 50%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.caption {
  text-align: center;
  padding: 1rem;
}

.testImg {
  position: absolute;
  width: 100%;
  max-height: 20vw;
  margin: 1.5rem auto;
  /* margin: 1.5rem; */
  object-fit: cover;
}

/*
.popup-overlay {
} */

@media only screen and (min-width: 600px) {
  .grid > div {
    flex-basis: calc(25% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .imgcontent {
    display: none;
  }

  .modalcontent {
    flex-direction: column-reverse;
  }
}
