.footer {
  background-color: rgba(239, 239, 239, 1);
}

p {
  color: #1e4c45;
  padding-top: 1rem;
}
.globalwrapper {
  color: #1e4c45;
  background-color: rgba(239, 239, 239, 1);
  text-align: center;
  padding-bottom: 3rem;
}

button {
  border: solid 1px #1e4c45;
  color: #1e4c45;
  background-color: rgba(239, 239, 239, 1);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border-radius: 25%;
  margin: 20px;
}

.buybtn {
  margin: 20px;
}
svg {
  margin-right: 15px;
}

.upperfooter {
  padding-top: 30px;
}

.follow {
  font-weight: bold;
}
